@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.home-container {
  align-items: center;
  background-image: url("/src/img/home-inicio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 40px;
  width: 600px;
  height: 316px;
}
nav {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  width: 100%;
  justify-content: space-between;
}
img {
  height: 100px;
  width: 300px;
}
.menu-btn {
  font-family: "Poppins", sans-serif;
  background: #fd691f;
  border-radius: 40px;
  color: #ffffff;
  border: 1px solid #e1e1e1;
  line-height: 50px;
  width: 103px;
  height: 50px;
  margin-right: 30px;
}
.orderBtn {
  background: #9fbf2c;
  border-radius: 45px;
  margin-top: 15vh;
  width: 30vw;
  height: 10vh;
}
.kitchenBtn {
  background: #a63838;
  border-radius: 45px;
  margin-bottom: 12vh;
  width: 30vw;
  height: 10vh;
}
