@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya&display=swap");
.home-container {
  align-items: center;
  background-image: url("/src/img/home-inicio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}
nav {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  width: 100%;
  justify-content: space-between;
}
.logo {
  height: 80px;
  width: 300px;
}
.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 40px;
  width: 50vw;
  height: 50vh;
  margin-top: 5vh;
}
.menu-btn {
  font-family: "Noto Serif Oriya", serif;
  background: #fd691f;
  border-radius: 40px;
  color: #ffffff;
  border: 1px solid #e1e1e1;
  width: 15vw;
  height: 10vh;
  margin-right: 30px;
  font-style: normal;
  font-size: 2vw;
  font-size: 4vh;
}
.orderBtn {
  background: #9fbf2c;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  margin-top: 7vh;
  width: 30vw;
  height: 15vh;
  border: 1px solid transparent;
}
.orderBtn a {
  text-decoration: none;
  font-family: "Noto Serif Oriya", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vw;
  color: #ffffff;
  order: -1;
}
.kitchenBtn {
  background: #a63838;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  border-radius: 45px;
  margin-bottom: 7vh;
  width: 30vw;
  height: 15vh;
  border: 1px solid transparent;
}
.kitchenBtn a{
  text-decoration: none;
  font-family: "Noto Serif Oriya", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vw;
  color: #ffffff;
}
.burger-inicio {
  width: 5vw;
  height: 13vh;
}
.kitchenBtn a {
  text-decoration: none;
}
@media (max-width: 600px) {
  .logo {
    height: 80px;
    width: 170px;
  }
  .burger-inicio {
    display: none !important;
  }
}