@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* TODO LO DE NAV EN LA VIEW */
#orderContainer {
  background-color: #e8e8e8;
  height: 100vh;
  width: 100%;

}
#navContainer {
  margin-top: 0;
}
/* COMPONENTE NAV */
#header {
  display: flex;
  height: 4rem;
  width: 100%;
}
.one-container {
  background: rgba(1, 1, 1, 0.8);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.name {
  display: flex;
  justify-content: center;
  align-items: center;
}
#welcome {
  font-family: "Arial";
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0.5rem;
  color: #ffffff;
  margin-left: 40px;
}
.btn {
  margin-right: 2rem;
  margin-left: 2rem;
}
.btn-order {
  background: radial-gradient(
    100% 2093.76% at 0% 50%,
    #9396c3 0%,
    #3a3e8f 100%
  );
  border-radius: 30px;
  width: 7.5rem;
  height: 2.5rem;
  border: transparent;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  font-family: "Arial";
}
.img {
  height: 4rem;
  width: 40%;
  justify-content: center;
  display: flex;
  background-color: white;
}
img {
  height: 4rem;
  width: 12rem;
}
.bodyContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
/*Componente Category*/
.div-Category {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}
#choose-category {
  display: flex;
  flex-direction: column;
  margin-left: 4%;
}
#select {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 34px;
  color: #000000;
}
#carrito {
  width: 40%;
  background-color: white;
}
.breakfast-photo {
  height: 50px;
  width: 50px;
}
.buttonContainer {
  width: 100%;
  display: flex;
}
.menu-btn {
  background-color: transparent;
  border: transparent;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
#name-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10%;
}
.name-menu {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 40px;
  width: 40px;
}
.view-more {
  align-self: flex-start;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 34px;
  color: #1d2186;
  margin-right: 10px;
}
/*Order counter*/
.order-div {
  align-items: center;
  display: flex;
  height: 3.5rem;
  background: rgba(94, 94, 94, 0.5);
  justify-content: space-between;
}
#order-name {
  font-family: "Arial";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 40px;
  color: #000000;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  margin-left: 2%;
}
.order-div h4 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #4b4b4b;
  margin-right: 2%;
}
.number-table {
  display: flex;
  height: 3.5rem;
  align-items: center;
  justify-content: space-between;
  background: #d9d9d9;
}
#choose-table {
  font-family: "Arial";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 40px;
  color: #000000;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  margin-left: 2%;
}
#tableSelect{
  width:30px;
  border:#d9d9d9;
  background-color: #d9d9d9;
  margin-right: 2%;
  height: 3.5rem;
  font-size: 16px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 500;
}
.card-counter{
  height: 100%;
  width:100%;
  display: flex;
}

@media (max-width: 480px) {
  #welcome {
    font-size: 1.2rem;
    margin-left: 10%;
  }

  .btn-order {
    width: 5rem;
    font-size: 8px;
    height: 1.5rem;
  }
  img {
    width: 100px;
  }
  .view-more {
    display: none;
  }
}
